header{
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.boxheader{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}

.logo{
    background-image: url(/images/logo.svg);
    background-size: contain;
    height: 45px;
    width: 243px;
    background-repeat: no-repeat;
}

.navbar {
    background: rgba(255, 255, 255, 0.15); /* fond translucide */
    border-radius: 50px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); /* pour Safari */
    border: 1px solid rgba(255, 255, 255, 0.2); /* légère bordure blanche */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* ombre douce */
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    color: #F0F4F8;
    transition: background-color 0.3s ease;
}

.navbar li.active {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #F0F4F8;
    font-weight: 500;
}

.navbar li:hover:not(.active) {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #F0F4F8;
    font-weight: 500;
}

.navbar a{
    text-decoration: none;
}