body{
    background-color: #FAFAF4;
    margin: 0;
    font-family: "Lexend", sans-serif;
    font-size: 17px;
}

section{
    width: 80%;
    margin: 0 auto;
}

.box{
    background-color: #FDFDF9;
    border-radius: 50px;
    padding: 50px;
    margin-bottom: 5%;
}

h2{
    color: #2c4a4a;
    margin: 0;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 1%;
}

h3{
    color: #2c4a4a;
}

p{
    color: #2c4a4a;
    margin: 0;
}